<nav class="nav-menu">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Панель</NavLink>
    <NavLink class="nav-link" href="/auth">Авторизация</NavLink>
    <NavLink class="nav-link" href="/inventory">Остатки</NavLink>
    <NavLink class="nav-link" href="/requests">Заявки и выдача</NavLink>
    <NavLink class="nav-link" href="/movements">История перемещений</NavLink>
    <NavLink class="nav-link" href="/employees">Сотрудники и отделы</NavLink>
    <NavLink class="nav-link" href="/admin">Пользователи и роли</NavLink>
</nav>
